* {
  text-decoration: none;
  box-sizing: border-box;
}

body{
    background: -webkit-linear-gradient(left, #0e251f, #21a0ab);
    background: linear-gradient(to right, #52525200, #00000000);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 15px;
}
header, main { 
    width: 100%;
    display: block;
    margin: 0 auto;
}

.header { 
  padding: 5px;
  width: 100%;
  height: 90px;
}
.logo b {
  text-decoration: none; 
  font-family: Luminari, fantasy;
  text-align: center;
  line-height: 185px;
  display: block;
}
.logo a {
  text-decoration: none;
  font-family: Luminari, fantasy;
  font-size: 40px;
  color: #ffffff;
  font-style: italic;
  text-align: center;
  line-height: 100px;
  display: block;
}
#navbar {
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

.content {
  padding: 16px;
}

.topnav {
  height: 50px;
  overflow: hidden;
  background-color: #101010;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 11px;
  text-decoration: none !important;
  font-size: 15px;
  border-radius: 10px;
  transition: all 0.5s;
  cursor: pointer;
}
.topnav a:hover {
  background-color: #5e5e5e;
  color: #efefef;
   cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.7s;
}
.topnav a:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.15s;
}
.topnav:hover a {
  padding-right: 25px;
}
.topnav:hover a:after {
  opacity: 0;
  right: 0;
}
.topnav .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .header { 
    height: 80px;
  }
  .logo a {
    font-size: 27px;
    line-height: 80px;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .modalss-content {
    width: 90% !important;
  }
} 
tbody tr:nth-child(even){background-color: #000000;}
tbody tr:nth-child(odd){background-color: #000000;}

tbody tr:hover {opacity: 0.8;}

h3 {
  padding: 15px;
}
span.psw {
  float: right;
  padding-top: 16px;
}

.bootbox-body {
  color: #fff !important;
}
.modal-header, .modal-footer {
  background-color: #5b5b5b !important;
  border: none !important;
  color: #fff !important;
}

.modal-body {
  background-color: #575757 !important;
}

.modal-body input[type="text"],
.modal-body input[type="email"],
.modal-body input[type="date"],
.modal-body input[type="time"],
.modal-body select,
.modal-body input[type="password"] {
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(255,255,255,.1);
  border: none;
  border-radius: 4px;
  font-size: 14px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  background-color: #e8eeef;
  color: #000;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
  border: 1px solid #e8eeef;
}
.close {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #000;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover{
  color: #0079ff;
}
.close:foPat {
  color: red;
  cursor: pointer;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}
.up_info1, .up_info2 {
  display: none;
  width: 270px;
  height: 40px;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  padding: 5px;
  margin-right: 20px;
  text-align: center;
  position: absolute;
}
html {
	background-color: hsla(200,40%,30%,.4);
	background-image:		
  url('https://lh6.googleusercontent.com/EzaFriccIJiNApaega3bP0HomNcfXrEPRsbmMYC7Q9AVPV4evax2pCdU94p2ncXQ0uqfin5yPZyWz5OHCSn6-3b_CK4I-laH-wrOrp5XvvaQLhd3IN-AzY0IUtWdmN_PVpBjGzmwUvM=w16383'),
		url('https://scontent.fmnl17-2.fna.fbcdn.net/v/t1.6435-9/123730838_10158886072914485_1171035478838908393_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=8bfeb9&_nc_eui2=AeGyj7DHh-ktxP-7zgaS9qtS9ZEuf_5wAK71kS5__nAAriYwP9llfwFHUWwxUjKTO1gQ0SI6qs3TBaa_SJfRF-Px&_nc_ohc=Mbbu6x6YcDQAX8CaxpX&tn=UhtjygmunaQIL-CP&_nc_ht=scontent.fmnl17-2.fna&oh=00_AfBEJ4s5to0LQLH_af22oX6RFsElaXH7-dfqb-1s92x9gw&oe=63E284B7');
	background-repeat: repeat-x;
	background-position: 
		0 0;
	background-size: 
		2300px;
	animation: 50s para infinite linear;
	}

@keyframes para {
	0 {
		background-position: 
			-5000px 20%,
			-800px 95%,
			500px 50%,
			1000px 100%,
			400px 0;
		}
}